# This is a basic workflow to help you get started with Actions
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#

name: download newest

# Controls when the workflow will run
on:
  schedule:
    - cron: '0/90 * * * *'  # 每10分钟执行一次
  repository_dispatch:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    # 下载转换工具，jq
    - name: Download jq programs
      run: |
        sudo apt install jq
      continue-on-error: true  # 即使出错也继续执行后续步骤
      
    - name: Use curl to read remote webpage and filter with grep
      run: |
        # 使用 GitHub API 获取 githubmirror 目录下最新更新的文件名
        latest_file=$(curl -s "https://api.github.com/repos/kort0881/vpn-key-vless/commits?path=githubmirror&per_page=1" \
          | jq -r '.[0].files[0].filename')
        
        echo "最新更新的文件是: $latest_file"
        curl -s "https://raw.githubusercontent.com/kort0881/vpn-key-vless/refs/heads/main/githubmirror/$latest_file" -o "./sub/nodes_v1.txt"  # 示例：下载内容到文件
        
      shell: bash
      continue-on-error: true  # 即使出错也继续执行后续步骤
        
    - name: 提交并推送更改
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        echo "1-检查时间：$(TZ=UTC-8 date +%Y-%m-%d" "%H:%M:%S)" > status
        git add .
        git commit -m "节点更新时间：$(TZ=UTC-8 date +%Y-%m-%d" "%H:%M:%S)"
        git push
